<h1 class="center"><b>Reliable & Easy Rainout Lines</b></h1>
<div style="max-width: 400px; margin: 0 auto 72px;">
	<%= link_to '<button type="button" class="btn btn-primary btn-lg btn-block">Get My Rainout Line</button>'.html_safe, new_user_registration_path %>
</div>

