<% 
  account_sid = 'ACfb6ad995a6df4e72ed305a5084a5c399'
  auth_token = '0d4d4203a00a79dbcf81d355bacdc3df'
   
  client = Twilio::REST::Client.new(account_sid, auth_token)
 
  search_params = {}
  %w[area_code].each do |p|
    search_params[p] = params[p] unless params[p].nil? || params[p].empty?
  end
%>

<div id="modal-edit-fields">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel">Find a hotline number</h2>
        </div>
        <div class="modal-body">
          <div class="small-container">
            <form method="POST" action="numbers/new">
              <label>Choose by area code (e.g. 512): </label><input type="text" size="7" name="area_code"/><br/><br/>
              <div class="center" style="margin-top: 30px; margin-right: 50px;">
                <input type="submit" class="btn btn-primary" value="SEARCH"/>
              </div>
            </form>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>