<div class="col-md-2">
  <div class="well">
    <ul class="nav bs-navbar">
      <li class="sidenav-link">
        <%= link_to '<span class="glyphicon glyphicon-list"></span>Facilities'.html_safe, facilities_path, { :class => "active" } %>
      </li>
      <li class="sidenav-link">
        <%= link_to '<span class="glyphicon glyphicon-bell"></span>Notifications'.html_safe, '#' %>
      </li>
      <li class="sidenav-link">
        <%= link_to '<span class="glyphicon glyphicon-tasks"></span>Account'.html_safe, edit_user_registration_path %>
      </li>
    </ul>
  </div>
</div>