// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

h1, h2, h3, h4, h5, h6, p, a, li, label, td, th, option, span {
	font-family: 'Oswald', sans-serif;
}

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	height: 100%;
}

.glyphicon {
	margin-right: 10px;
	font-size: 20px;

}

.table {
	margin-bottom: 0px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #BABABA;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
	padding-left: 0px;
	padding-right: 0px;
}

.active {
	background-color: #428bca;
}

.sidenav-link {

}

.bs-navbar li a:hover {
	background-color: #428bca;
}

.bs-navbar li a {
	color: black;
	border-bottom: 1px solid #292D38;
	font-size: 18px;
}

.bs-navbar > li:first-child a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bs-navbar > li:last-child a {
	border-bottom: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn-success {
	background-color: #009E0F;
}

.btn-success:hover {
	box-shadow: none;
	background-color: #018F0E;
}

.btn-edit:hover {
	box-shadow: none;
}

.btn-lg:hover {
	box-shadow: none;
}

.override {
	border-color: white !important;
}

.btn-primary:hover {
	box-shadow: none;
}

.well { 
	margin-bottom: 10px;
	padding: 0px;
	background-color: #E3E3E3;
	border: 1px solid #333333;
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4), 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	border-top: none;
}
.table > thead > tr > th {
	border-bottom: none;
}

.btn-edit {
	box-shadow: 2px 2px 0px #000000;
	padding: 6px 10px;
}

.btn-fac {
	box-shadow: 2px 2px 0px #000000;
	padding: 24px 15px;
}

abbr[title] {
	border-bottom: none;
}

.form-control {
	width: 81%;
}

a:hover {
	text-decoration: none;
}

hr {
	margin-top: 0px;
	margin-bottom: 5px;
}

.small-container {
	max-width: 675px;
	margin: 0 auto;
	padding-left: 36px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#wrap > .container {
	padding-top: 85px;
}

#nav-container {
	padding-left: 31px;
	padding-right: 0px;
}

.navbar {
	margin-bottom: 40px;
	border-radius: 0px;
	padding: 10px 0;
}

.navbar-toggle {
	background-color: #428BCA;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #428BCA;
}

.navbar-brand {
	padding: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #428bca;
}

.navbar-default {
	background-color: transparent;
	border-color: black;
	border-width: 0 0 1px;
	-webkit-box-shadow: 0px 1px 1px black;
	-moz-box-shadow: 0px 1px 1px black;
	box-shadow: 0px 1px 1px black;
	.navbar-brand {
		color: white;
		padding-top: 6px;
	}
	.navbar-brand:hover {
		color: black;
	}
}

.navbar .divider-vertical {
	height: 46px;
    margin: 2px;
    border-right: 1px solid gray;
    border-left: 1px solid black;
}

.navbar li {
	font-size: 20px;
}

.center {
	text-align: center;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 56px;
	margin-bottom: 35px;
}

.btn-lg {
	padding: 60px 16px;
	box-shadow: 2px 2px 0px #000000;
}

.btn {
	font-family: 'Oswald', sans-serif;
}

.soften {
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.9), rgba(0,0,0,0));
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -100px;
	padding: 0 0 100px;
}

#push {
	height: 100px;
}

footer {
	height: 99px;
	border-top: 1px solid black;
	ul {
		text-align: center;
		-webkit-padding-start: 0;
	}
	li {
		display: inline;
	}
	.divider {
		margin: 0 8px 0 4px;
		height: 13px;
    	border-right: 1px solid black;
	}
}

.col-md-10 {
	padding-left: 30px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

@media (max-width: 480px) {
	h1 {
		font-size: 40px;
	}
	th {
		font-size: 15px;
	}
	td {
		font-size: 12px;
	}
	.btn {
		font-size: 12px;
	}
	.container {
		padding-right: 3px;
		padding-left: 3px;
	}
	.col-md-10 {
		padding-left: 0px;
	}
	.table > tbody > tr > td {
		padding: 3px;
	}
	.table > thead > tr > th {
		padding: 5px;
	}
}

@media (max-width: 991px) {
	.col-md-10 {
		border-left: none;
	}
	.col-md-10 {
		padding-left: 0px;
	}
}

.form-horizontal .control-label {
	text-align: left;
}

#facility_status {
	width: 100px;
}

.form-control {
	width: 70%;
}

textarea.vert {
	resize: 100px;
}


.form-content {
	postition: relative;
	background-color: #e3e3e3;
	border: 1px solid black;
	border-radius: 6px;
	background-clip: padding-box;
	outline: none;
}


.modal-content {
	background-color: #e3e3e3;
}

.divider-horizontal {
	width: 100%;
	margin: 20px 0px 20px -25px;
	border-top: 1px solid black;
	border-bottom: 1px solid white;
}