// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

h1, h2, h3, h4, h5, h6, p, a, li, label, td, th, option {
	font-family: 'Oswald', sans-serif;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #D5A6BD;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
	padding-left: 0px;
	padding-right: 0px;
}

.sidenav-link {
	border: 2px solid black;
	box-shadow: 3px 3px 0px black;
	margin: 3px;
}

.bs-navbar li a:hover {
	background-color: #3276B1;
}

.bs-navbar li a {
	color: black;
}

.btn-success {
	background-color: #009E0F;
}

.btn-success:hover {
	background-color: #018F0E;
}

.override {
	border-color: white !important;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	border-top: none;
}
.table > thead > tr > th {
	border-bottom: none;
}

.btn-edit {
	box-shadow: 4px 4px 0px #000000;
	padding: 6px 15px;
}

.btn-fac {
	box-shadow: 4px 4px 0px #000000;
	padding: 24px 15px;
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

abbr[title] {
	border-bottom: none;
}

.form-control {
	width: 81%;
}

a:hover {
	text-decoration: none;
}

hr {
	margin-top: 0px;
	margin-bottom: 5px;
}

.small-container {
	max-width: 675px;
	margin: 0 auto;
	padding-left: 36px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	padding: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #428bca;
}

.navbar-default {
	background-color: white;
	border-color: white;
}

.navbar .divider-vertical {
	height: 26px;
    margin: 13px 2px;
    border-right: 1px solid black;
}

.navbar li {
	font-size: 20px;
}

.center {
	text-align: center;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 56px;
	margin-bottom: 35px;
}

.btn-lg {
	padding: 72px 16px;
	box-shadow: 5px 5px 3px #000000;
}

.btn {
	font-family: 'Oswald', sans-serif;
}

.soften {
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.9), rgba(0,0,0,0));
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
}

footer {
	ul {
		text-align: center;
		-webkit-padding-start: 0;
	}
	li {
		display: inline;
	}
	.divider {
		margin: 0 8px 0 4px;
		height: 13px;
    	border-right: 1px solid black;
	}
}

